@import "../components/harp-bourbon/scss/bourbon";
@import "settings/typography";
$visual-grid: false;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.2;
@import "../components/base/base";
@import "../components/harp-neat/scss/neat";

$sidebar-size: 250px;

// composants custom
// @import "components/_buttons";
// @import "components/_typography";
@import "components/_switch";

// exemple prit d'intégration : http://forest.themenum.com/mega/#/dashboard
// exemple prit de design graphique https://dribbble.com/shots/1847266-Craigslist-Redesign/attachments/309241

// color https://dribbble.com/shots/1636453-e-commerce-Dashboard/attachments/255733

body{
	background: #fff;
	color: #444343;
	margin: 0;
}


.container {

}

@import "components/_sidebar";

#stacks{

	left: $sidebar-size;
	top: 0;
	width: auto;
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
	min-height: 100%;
	padding: 3em;
	color: #424251;
	// section{
	// 	display: none;
	// 	&.active{
	// 		display: block;
	// 	}
	// }
	
	li{
		a{
			color: #939393;
			padding: 2em;
			border: 1px solid #E4E4E4;
			margin-top: -1px;
			display: block;
			&:hover{
				color: #424251;
			}
		}
		.tags{
			display: inline-block;
			margin-right: 2px;
			span{
				font-size: 12px;
				padding: 1px 10px;
				background: #333;
				border-radius: 30px;
				background: #E7E7E7;
			}

		}
	}

}