div(id="sidebar", ng-controller='sidebarCtrl')

	a#logo Stackterest

	ul.unstyled
		li(ng-repeat="cat in categories.category | orderBy:'slug'", ng-class="{active: isActive(cat.slug)}")
			//a(ng-href='/{{cat.slug}}', ng-click="select(cat.slug, $index)", ng-class="{selected: $index == selected}") 
			label(class="label-switch")
				input(type="checkbox", ng-checked="selectedCategories[cat.slug].selected", ng-click="toggleSelection(cat.slug)")
				div(class="checkbox")
					span {{cat.titre}}
