header.navigation(role='banner')
    .navigation-wrapper
        a.logo(href='javascript:void(0)')
          img(src='/assets/images/storytelling.svg', alt='Storytelling logo')
        |     
        a#js-mobile-menu.navigation-menu-button(href='javascript:void(0)') MENU
        |     
        nav(role='navigation')
          ul#js-navigation-menu.navigation-menu.show
            li.nav-link
              a(href='javascript:void(0)') Docs
            li.nav-link
              a(href='javascript:void(0)') Marketplace  
            li.nav-link
              a(href='javascript:void(0)') Blog
            li.nav-link
              a(href='javascript:void(0)') Github
            li.nav-link
              a(href='javascript:void(0)') Download
