#stacks 
  div(ng-app='ng-app')
    div(ng-controller='TodoCtrl')
      input(id="search", ng-model="search.description")
      ul
        li(ng-repeat='stack in stacks.stacks | reverse | filter:search', ng-class="stack.categorie", class="stack", ng-show="selectedCategories[stack.categorie].selected")
          h3
            a(href="{{ stack.url }}") {{ stack.titre }}
          p {{ stack.description }}
          div(class="tags parent")
            span(class="{{ stack.categorie }}") {{ stack.categorie }}
          div(class="tags", ng-repeat='tag in stack.tags')
            span(class="{{tag}}") {{tag}}
