#stacks
  div(ng-app='ng-app')
    div(ng-controller='TodoCtrl')

      section( ng-class="{active:tab==='design'}" )
        h2 Design
        ul.unstyled
          li(class="stack", ng-repeat='stack in stacks.design')
            a(href="{{stack.url}}")
              h3 {{ stack.titre }}
              p {{ stack.description }}
              
      section( ng-class="{active:tab==='ux'}" )
        h2 UX
        ul.unstyled
          li(class="stack", ng-repeat='stack in stacks.ux')
            a(href="{{stack.url}}")
              h3 {{ stack.titre }}
              p {{ stack.description }}